[2018-10-10 11:10] mashalahmad opened #1 "Query Error"
Im trying to see the post versions like the example in utorrent19 challenge paper. when I  execute this query im not getting value of **RootPostHistoryId** like in Fig 3 part 1 in the paper. I tried with different PostHistoryId but each time I get the same value in RootPostHistoryId as I mention on PostHistoryId.

Im running this query on BigQuery and attaching the screen short as well
SELECT * FR

[2018-10-10 11:50] sbaltes commented on #1
Some clarifications:
* The `PostId` identifies a post (question or answer). In your example, it's [this](https://stackoverflow.com/a/1874638) answer with `PostId` 1874638.
* The `PostHistoryId` identifies a post version. In case of your example, the post has only one version (you can see this on the website, there is no "edited ..." link below the post).
* `PredEqual` is `NULL` if a post block doe

[2018-10-10 14:26] mashalahmad commented on #1
thanks a lot for such a detailed clarification :)

[2018-10-10 14:53] #1 closed, assigned to sbaltes

[2018-10-26 23:21] JafarAkhondali opened #2 "Some rows of PostReferenceGH Table does not look valid !"
I was inspecting `PostReferenceGH` at Google Big Query and first page of preview was:
![image](https://user-images.githubusercontent.com/11364402/47595915-a6652f80-d98f-11e8-89d0-34c727b04fa9.png)

SOUrl  doesn't look right on this page. For example:
[this file in gh](https://raw.githubusercontent.com/GEKONavsat/FreeIMU/master/libraries/FreeIMU/debug/decode_float.py) has this link:
`# http://stack

[2018-10-27 07:54] sbaltes commented on #2
Thanks for reporting this. I will look into it later today.

[2018-10-27 17:33] sbaltes commented on #2
I created [Java versions](https://github.com/sotorrent/util/blob/419b0a4a455a305b88e9b296b3522a7c3a4bb6a6/src/org/sotorrent/util/URL.java#L50) of the corresponding regular expressions and added different [test cases](https://github.com/sotorrent/util/blob/419b0a4a455a305b88e9b296b3522a7c3a4bb6a6/tests/URLTest.java#L45), including the source code line you mentioned above.

I'm now stricter regardin

[2018-10-27 17:33] #2 closed, assigned to sbaltes

[2018-10-27 18:00] JafarAkhondali opened #3 "Separating repository name and repository owner name"
I think it would be nice to separate repository name and repository owner name into two columns in `PostReferenceGH` table

[2018-10-28 06:44] #3 closed, assigned to sbaltes

[2018-10-28 06:45] sbaltes commented on #3
I implemented this for the new release:

![2018-10-28 07_36_44-google bigquery](https://user-images.githubusercontent.com/10498957/47612896-83687780-da84-11e8-9fab-ec0fabfb0078.png)

A also kept the merged repository name, because people may already rely on that column in their scripts. I may drop it after the MSR mining challenge is over.

Until the new release is out, you can use this snippet to

[2018-10-29 14:47] JafarAkhondali opened #4 "Question about PostTags table"
Hi,
We are a group of students in Shiraz university supervised by Professor Ashkan Sami and our hardware is kinda limited so we have to optimize our queries as much as possible.
Currently there is a `tags` column in `Posts` table and have a type of `NVARCHAR` and tags are wrapped in tags column like < TAGNAME >. I was confused that why there is not a many-to-many relationship for `tags` and `posts

[2018-10-29 15:08] sbaltes commented on #4
The table `PostTags` is available in the [Stack Exchange Data Explorer](https://data.stackexchange.com/), but not in the [data dump](https://archive.org/download/stackexchange) that *SOTorrent* uses. You could ask on Stack Exchange Meta why this table is not included in the dump. I'm very sorry that I currently can't provide any further support in this matter. I'll mark this as a possible enhancem

[2018-10-29 15:27] JafarAkhondali commented on #4
Thank you so much! I didn't know it's not available in data dump.
Using above query it would be easy to create this table but it needs lot of computations (currently running on Google Bigquery for more than an hour).
Thanks for your help, It's Stack Exhange fault :sweat_smile:

[2018-10-30 18:45] mhepaixao opened #5 "Online access maybe broken?"
Hi,

My name is Matheus Paixao, a research assistant at State University of Ceara, Brazil. When trying to access the latest Google BigQuery version of the dataset, as provided in the SOTorrent website (https://bigquery.cloud.google.com/dataset/sotorrent-org:2018_09_23) I get a the following message:

"Unable to find dataset: sotorrent-org:2018_09_23".

I've tried different browsers and different i

[2018-10-30 19:25] sbaltes commented on #5
Hi! Did you follow the [tutorial](https://cloud.google.com/blog/products/gcp/how-to-run-a-terabyte-of-google-bigquery-queries-each-month-without-a-credit-card) linked on the [project page](http://empirical-software.engineering/projects/sotorrent/) to activate BigQuery access for your Google account?

[2018-10-31 13:28] mhepaixao commented on #5
Hi,

I did follow the tutorial, and still, I see this problem. A colleague of mine managed to access the online version with no problem whatsoever though. There seems to be a problem with my google account, it's the only explanation.

Thank you for the quick response. I'll let to your own decision whether this issue is closed or not :-D

Cheers,
Matheus

[2018-11-02 00:32] sbaltes commented on #5
Thanks for the update. I'll close this issue, because the problem doesn't seem to be caused by the dataset. If you'll find out what caused the issue, feel free to comment here again so that others can see it.

[2018-11-02 00:32] #5 closed, assigned to sbaltes

[2018-11-09 11:19] mashalahmad opened #6 "help about PostReferenceGH"
hey could you please tell what does Copies attribute means in PostRefernceGH table?

and how can I get to know that a class of GitHub has many clones from stack overflow?

I read you paper **Attribution Required: Stack Overflow Code Snippets in GitHub Projects**  where you use CPD to detect the clones. is it suitable? or is there anyway to get it from PostRefernceGH table.

[2018-11-09 12:27] sbaltes commented on #6
Sure, `Copies` indicates how often that exact file appears in the dataset. For a certain `FileId`, it is equal to:

[code]

Unfortunately, I can only provide support for the dataset here. It's up to you to find a suitable approach to detect the code clones. You could use CPD, but most likely only on a sample of projects and snippets. However, there are many other code clone detectors available. Yo

[2018-11-09 12:27] #6 closed, assigned to sbaltes

[2018-11-12 16:44] Alfusainey opened #7 "Import of sotorrent CSV data files fails on MacOS"
Importing the sotorrent `csv` data files, using `6_load_sotorrent.sql`, fails with the following error msg:

`ERROR 1300 (HY000): Invalid utf8mb4 character string: ''`.

@sbaltes:  Any idea why this is happening? Am running MySQL version 5.7.24, running on MacOs High Sierra

[2018-11-12 21:14] sbaltes commented on #7
Could you check for which of the tables the import is failing?

[2018-11-12 21:30] Alfusainey commented on #7
i first tried with the `PostBlockVersion` table and it fails, then I tried with the `CommentUrl` table and it fails too. this makes me conclude that it will probably not work for the other tables too.

another thing: on the terminal if I do: `less PostBlockVersion.csv` to view the contents of the file, `less` warns that am trying to open a binary file. If i opened `CommentUrl.csv` using an excel s

[2018-11-12 21:47] Alfusainey commented on #7
I should also clarify that I executed individual import statements to load data into specific tables. I did not run the entire `6_load_sotorrent.sql` script at once. This way, I do not have to download all the files and then import (because I have limited space).

Essentially, I did this:
1. Download a single `.gz` file
2. Extract the file
3. Import the file data into the database
4. Delete the fi

[2018-11-12 21:54] sbaltes commented on #7
Could you execute `file -i <FILENAME>.csv` to check the file encoding?

[2018-11-12 22:10] Alfusainey commented on #7
Output: `CommentUrl.csv: regular file`

Just realized for osx i need the `-I` switch.
If i run `file -I CommentUrl.csv`, i get:
`CommentUrl.csv: application/x-gzip; charset=binary`

[2018-11-12 23:31] Alfusainey commented on #7
I executed `file -I <filename>.xml` on one of the XML files and I see that the `charset=utf-8`.

[2018-11-13 10:18] Alfusainey commented on #7
@sbaltes what file encoding of the `csv` files do you have once they're compressed? looks like the once uploaded to Zenodo are binary files

[2018-11-13 14:47] sbaltes commented on #7
I was able to reproduce this on macOS 10.13:

[code]

However, when executing the same commands on an Ubuntu 16.04 LTS system, the extraction works as expected:

[code]

This issue seems to be specific to macOS. I don't have time to look into this now, but as a workaround you could either use an Ubuntu system to unzip the files or setup a VirtualBox VM on your macOS system.

[2018-11-13 17:18] Alfusainey commented on #7
![whatsapp image 2018-11-13 at 18 13 50](https://user-images.githubusercontent.com/2141415/48430731-54365380-e770-11e8-9d54-20dd5cca6841.jpeg)
 humm.. I don't think so. I just tested with Ubuntu 16.04 LTS and still have `CommentUrl.csv: application/x-gzip; charset=binary` (see attachment).

Did you download the file from Zenodo?

[2018-11-13 17:49] sbaltes commented on #7
I downloaded the file from Zenodo on both systems (macOS and Ubuntu).

[2018-11-13 19:45] sbaltes commented on #7
I'm currently traveling, but I will take a closer look at this next week.

[2018-11-14 14:00] Alfusainey commented on #7
thanks!

I have three different people confirm that it works on `mint` and  `ubuntu 16.04`. I can also confirm that it works on `Debian 9.6(stretch)`. seems like the problem is with MacOS

[2018-11-19 14:52] sbaltes commented on #7
I just installed gzip 1.9 using [Homebrew](https://brew.sh/), but the same error occurs when using `/usr/local/bin/gunzip` (opposed to `/usr/bin/gunzip`).

[2018-11-19 15:58] sbaltes commented on #7
Interesting observation:

`gunzip`man page Ubuntu 16.04:

`gunzip` man page macOS 10.13:

[2018-11-19 16:22] sbaltes commented on #7
This works for me on macOS 10.13:

[code]

Could you try this on your system?

[2018-11-21 03:03] Alfusainey commented on #7
@sbaltes: great, yes this works for me on MacOs `10.13.6`. thanks for investigating this

[2018-11-21 11:26] sbaltes commented on #7
I will update the README file in the next SOTorrent release and I also added a remark to the SOTorrent project page.

[2018-11-21 11:26] #7 closed, assigned to sbaltes

[2018-11-21 21:00] WilliamGoss commented on #5
Hello, I followed the tutorial and setup a Google Cloud Platform account, but when clicking the link for the data, it's still saying it's unable to be found. I tried with two different Google accounts and three different browsers, but no dice. Any ideas what next steps I should try?

[2018-11-28 16:30] sbaltes commented on #5
To everyone having similar issues:

* Try disabling your ad blocker.
* Disable and re-enable the BigQuery API in the Google Cloud Console.
* Please also check out the [BigQuery Beta](https://console.cloud.google.com/bigquery?p=sotorrent-org&d=2018_09_23&t=PostReferenceGH&page=table) and comment here if the _"Unable to find dataset"_ error also occurs there.

[2018-11-29 19:44] martincabello opened #8 "Wrong detection of code snippets"
Hello,
I am part of a group of University College London MSc. students working on the MSR Mining Challenge. We have been running certain queries on BigQuery to see if we can get access to the data we need in order to answer our proposed question. We are currently stuck with the following problem.

We have written the following query.

[code]

Which gives us the following results:

[Results Google

[2018-11-29 20:32] nielsboecker commented on #8
Hi, I am part of the same team. We invested the issue further and found that there are 4 spaces in the HTML, even though they are not rendered if you simple open the SO page.

[code]

Hence, it is probably parsed as SO Markdown, producing the inaccurate detection of CodeBlockVersions.

[2018-11-30 13:10] sbaltes commented on #8
Thanks for reporting this. I can confirm that for the mentioned posts, the post block extraction does not work correctly. I'm currently working on a fix.

[2018-11-30 22:40] sbaltes commented on #8
This should be fixed now in the [posthistory-extractor](http://github.com/sotorrent/posthistory-extractor). We are still running some tests to check whether the changes didn't break anything else. If I'll find the time, there will be a new release based on data dump 2018-09-05 next week, but I can't promise that. What I can promise is a new release based on the December data dump, which I except t

[2018-12-05 13:18] sbaltes commented on #8
Since Stack Exchange released their new [data dump](https://archive.org/details/stackexchange) a bit earlier (2018-12-02), there won't be a new release based on dump 2018-09-05. I'm currently downloading the new data dump and will run the extraction afterwards. Expect a new SOTorrent release beginning of next week.

[2018-12-07 13:35] RyanFin opened #9 "Location of text block answers"
Does the SOTorrent datadump contain code snippet answers from StackOverflow. If so which table and column contains these?

[2018-12-07 20:17] sbaltes commented on #9
Some information on the different tables containing post content:

* `Posts.Body` contains the most recent post version as HTML content.
* `PostHistory.Text` contains a particular post version as Markdown content (not only the most recent one), the type of change is indicated by the `PostHistoryTypeId`.
* `PostBlockVersion.Content` contains the content of one post block (text or code) in one post

[2018-12-07 23:38] RyanFin commented on #9
Thanks a lot Sebastian :)

[2018-12-08 20:05] #9 closed, assigned to sbaltes

[2018-12-08 20:06] sbaltes commented on #9
You're welcome. If you have any further questions, just post them here.

[2018-12-09 09:49] RyanFin commented on #9
Hi,

Just a follow-up question, is it possible to join the results of the code block questions ( PostTypeId = 1) and code block answers (PostTypeId = 2) in the same SQL query to get details of the full post, with the same ID?

[2018-12-09 10:22] sbaltes commented on #9
Is this what you are looking for?

[code]

<img width="753" alt="capturfiles-20181209_112159" src="https://user-images.githubusercontent.com/10498957/49696063-aff3d100-fba4-11e8-81ba-9d892d78066c.png">

[2018-12-09 13:01] RyanFin commented on #9
Hi Sebastian,

I like your output as it shows the sections with the LocalId. Your output is only for the answer section though.

Would it be possible to get the question section as well in the SQL query, as displayed in the screenshot?

![ice_screenshot_20181209-125647](https://user-images.githubusercontent.com/22938395/49697637-e08e3780-fbb1-11e8-901b-a5f610eba043.png)

Thanks :)

[2018-12-09 19:09] sbaltes commented on #9
This query retrieves the most recent version of all Stack Overflow threads, separated into text and code blocks:

[code]

![2018-12-09 20_06_04-google bigquery](https://user-images.githubusercontent.com/10498957/49701533-f6215280-fbed-11e8-93cb-4366cf0b8f53.png)

You may also be interested in [this](https://empirical-software.engineering/blog/sotorrent-edithistory) blog post.

[2018-12-10 11:50] RyanFin commented on #9
Lovely, Thanks Sebastian!

[2018-12-11 15:18] FelipeGA opened #10 "how to know if a question has an accepted answer and who wrote it"
Hi,
Im having some trouble to find out which column from the SOTorrent tables can tell me if a question has been solved e who solved it. Im gonna use this to analyse if there is any relation between high user reputation and the chance of a answer being solved.

[2018-12-11 15:58] sbaltes commented on #10
That depends on your definition of "solved". If solved means "question has an accepted answer", then the following query may help you:

[code]

Please note that:
  1. This query excludes posts for which the data dump only provides an `OwnerDisplayName` and no `OwnerUserId`.
  2. All of the tables used in the query are from the official Stack Overflow data dump, which is part of the _SOTorrent_ dat

[2018-12-11 22:14] #10 closed, assigned to sbaltes

[2018-12-11 22:44] FelipeGA commented on #10
That is exactly what I was looking for. Maybe I will change the subject of my project and try a different aproach on SOTorrent, but this helped a lot. Thank you.

P.S.: Sorry for the late reply. Im going to change 'solved' in the title for 'question has an accepted answer'.

[2018-12-12 11:39] sbaltes commented on #8
The extraction seems to be correct in the new *SOTorrent* release 2018-12-09:

MySQL:

[code]

![2018-12-12 12_32_01-mysql workbench](https://user-images.githubusercontent.com/10498957/49867418-c0a58080-fe0a-11e8-90b3-57a3800d003f.png)

BigQuery:

[code]

<img width="1223" alt="capturfiles-20181215_101857" src="https://user-images.githubusercontent.com/10498957/50047540-87de0380-00b7-11e9-8242-8ca

[2018-12-18 17:39] FelipeGA commented on #10
Hi, Sebastian,

I've just submited the query to my college project on github. Now Ive made a relation between the modified code snipets of Java and the users who made such modifications. At the end a create a table to show a rank of the number of modifications based on the location of each user.
Feel free to comment and add any sugestions.

Thank you.

[2019-01-04 17:11] habedi opened #11 "Post records with incorrect/malformed fields?"
Hi,

I found this record in the ```Posts table``` (in ```Posts.xml.gz```), the value for ```Id``` is incorrectly set to ```22990644``` while the right ```Id``` seems to have to be ```22990633```;  also, ```ParentId``` and ```CreationDate``` look incorrect too;

[code]

I guess there maybe a few other incorrect post records but I am not sure how it could affect the integrity of the data.

[2019-01-04 17:18] sbaltes commented on #11
Thanks for reporting this.
Did you check whether the same issue is also present in the XML file from the official data dump?
You can download it using:

`wget https://archive.org/download/stackexchange/stackoverflow.com-Posts.7z`

If the issue is also present in that file, please report this on [Stack Exchange Meta](https://meta.stackexchange.com/). If the record is only malformed in the _SOTorren

[2019-01-06 09:17] habedi commented on #11
Hi,

Sorry for the late reply, my internet connexion is kinda slow so it took a little bit of time before I could download ```stackoverflow.com-Posts.7z```.
I searched for the record with ```Id = 22990644``` using ```grep``` in ```Posts.xml``` in both files, The two files are ```Posts.xml.gz``` with ```md5sum = ff7cbf0c93cf8efabdd9512324d8a30b``` and ```stackoverflow.com-Posts.7z``` with ```md5sum

[2019-01-06 10:51] sbaltes commented on #11
Are you sure that you did not modify the XML file from the _SOTorrent_ dataset after downloading it?
When I extract `stackoverflow.com-Posts.7z` and `Posts.xml.gz` and calculate the MD5 hash values, they are the same:

[code]

A grep search also yields the same result for that particular row:

[code]

Could you calculate the MD5 hash values of the extracted XML files and compare them with the hash

[2019-01-06 10:52] #8 closed, assigned to sbaltes

[2019-01-06 11:45] habedi commented on #11
As a matter of fact, the first thing I did was to check SHA1 checksum for ```Posts.xml``` files.

For me they were not the same:

[code]

[code]

I can't send you the MD5 digests right away, if you still need them I could post them in a few hours though.

[2019-01-06 15:01] sbaltes commented on #11
I re-downloaded the files from Zenodo and Archive, but the MD5 hash is still the same:

[code]

I also calculated the SHA1 hash, which is also equal:

[code]

So to me, this currently looks like a problem on your end.
Please let me know if there is anything else I can do.

[2019-01-07 02:51] habedi commented on #11
I re-extracted the ```Posts.tar.gz```, and the this time the SHA1 hash for the both files matches. I think there maybe a problem with my hard drive's filesystem or something similar that resulted in data corruption in the first place. So, I think this issue is closed.
Sorry for the inconvenience and thank you very for your rime and considerations.

[2019-01-07 04:35] #11 closed, assigned to sbaltes

[2019-01-10 14:57] awwong1 opened #12 "Loading Data into MySQL Performance?"
Hello everyone, maybe someone more familiar with databases can provide some insight? I'm trying to load the SOTorrent dataset into `mysql` (only thing supported by the provided scripts).

I've tried using the default ubuntu 18.04 mysql package (5.7) with `innodb_pool_buffer_size` set to 100G (80% of my machine's RAM) with little success. It hung on loading posts from xml despite any configuration.

[2019-01-10 15:03] awwong1 commented on #12
[code]

[2019-01-10 15:16] sbaltes commented on #12
I always test the *SOTorrent* releases on a regular Ubuntu 16.04 LTS desktop PC running MySQL Server 5.7. Importing the dataset takes about two days in total, and loading `Posts.xml` alone does definitely take less than 5 hours. However, I have to say that our test system has two separate SSDs: One that runs the operating system and contains the database files and one that is only used to read the

[2019-01-10 15:40] awwong1 commented on #12
@sbaltes Are you willing to share your system's specs and `mysql.cnf` file? My mysql data directory is on two HDDs running in RAID 1. I don't think I'm bottlenecked by hardware yet. The average write speed was ~15MB/s over the last 6 hours.

Even while mysql is loading the xml file, I can get well over that in terms of disk read/write.
[code]

[2019-01-10 16:07] sbaltes commented on #12
It's a [FUJITSU Desktop ESPRIMO P957/E85+](https://sp.ts.fujitsu.com/dmsp/publications/public/ds-esprimo-p957-e85.pdf) (Intel Core i7-7700, 64GB RAM).

The only file I modified is `/etc/mysql/mysql.conf.d/mysqld.cnf`:

[code]

[2019-01-10 18:04] awwong1 commented on #12
Okay, this is my configuration file:

[code]

I'll let this run for another day and then see what happens.

One more silly question, can you run the following query and share the results?
[code]

[2019-01-10 19:34] sbaltes commented on #12
Sure, here you go:

[code]

[2019-01-11 16:55] effat opened #13 "Decompose SO posts into code and text blocks"
The MSR 2018 [paper](https://arxiv.org/pdf/1803.07311.pdf) section 4 describes decomposing a SO post into text blocks and code blocks. But I could not find the (class `PostVersionHistoryTest` [11]) following reference 11 in this [link](https://github.com/sotorrent/posthistory-extractor).

I  need to decompose the Body of a SO post (Posts Table of Figure 2) into code and text blocks for one of my p

[2019-01-11 17:35] sbaltes commented on #13
You'll find the code here:

https://github.com/sotorrent/posthistory-extractor/blob/30f0b55e65b856c4cf5962f844f680c5500b7908/src/org/sotorrent/posthistoryextractor/history/PostHistory.java#L235

And the tests here:

https://github.com/sotorrent/posthistory-extractor/blob/master/tests/PostBlockExtractionTest.java

Please be aware that you need to use the markdown source (table `PostHistory`) and no

[2019-01-14 18:57] awwong1 commented on #12
I gave up importing the data into mysql.
It was faster for me to load everything into sqlite3 (this took around 2 full days).

https://github.com/awwong1/sotorrent-sqlite3

[2019-01-14 18:57] #12 closed, assigned to sbaltes

[2019-01-15 09:06] sbaltes commented on #12
I'm sorry to hear that.

I will update our system to Ubuntu 18.04 before importing the next _SOTorrent_ release. Maybe I can reproduce the issues you faced. Until then, I'm happy to point others to the script you wrote. Thanks!

[2019-01-15 09:06] #13 closed, assigned to sbaltes

[2019-01-15 11:00] habedi commented on #12
Hi,

I am sorry to intervene, just out of curiosity and pure interest, I have a few suggestions that may speed up the the whole loading process:

### Trying other MySQL Storage Engines:
The default MySQL storage engine is called InnoDB, it is more suited for transactional workloads (e.g., lots of small concurrent reads and writes), but for analytic workloads such as running different queries to fi

[2019-01-15 12:19] sbaltes commented on #12
Thanks for your feedback. One small comment regarding:

The foreign key checks are being disabled before loading the data, see, e.g.:

https://github.com/sotorrent/db-scripts/blob/bd72831de0fdef4f2ade7b86505daa06dcd063ea/sotorrent/2_load_so_from_xml.sql#L3

[2019-01-15 16:15] habedi commented on #12
@sbaltes thanks for mentioning that. Actually, I was not quite sure how consequent disabling and then enabling the foreign key check for each load operation could affect the whole time needed for the process of loading all the tables, as in the helper script (```6_load_sotorrent.sql```) foreign key checks are disabled right before each load operation and then enabled right after the table has been

[2019-01-15 19:49] CosmosAtlas opened #14 "README.md out of date on zenodo"
Hi,

I noticed that the README.md file on zenodo seems to contain out of date information on sql file names. It currently does not describe the available data on zenodo.

Thanks!

[2019-01-16 10:16] sbaltes commented on #14
Thanks for reporting this, the file names of the SQL scripts should now be in sync with the README file. This change will be visible on Zenodo after the next release, because I cannot update files in existing dataset versions.

[2019-01-16 10:17] #14 closed, assigned to sbaltes

[2019-02-11 12:57] Alfusainey opened #15 "Values of PostTypeId Column in PostReferenceGH"
@sbaltes: In the 2018_12_09 dataset, I saw 99 as the value of `PostTypeId` in the `PostReferenceGH` table, however, the `PostType` table only contain values between 1-8. What post type is 99?

[2019-02-11 13:05] Alfusainey commented on #15
oh, I was able to see from the `PostType` table that 99 is a comment and the SO link confirms that too.

I just have a follow up question: If the link points to a comment, can we distinguish if it points to a code block or a text block (in the comment itself), similar to what we have for Posts?

[2019-02-11 15:10] sbaltes commented on #15
I added the `PostTypeId` 99 as a workaround to represent links to comments in table `PostReferenceGH`. It's not part of the official Stack Overflow data dump.

As far as I know, comments cannot contain code blocks, only inline code. You could use something like this to split the comments into the code and non-code parts:

[code]

[2019-02-11 15:56] Alfusainey commented on #15
waaw, amazing! I ran the above query on bigquery, save it into a new table and queried the comment with id `30165888` and the results:

<img width="1115" alt="screen shot 2019-02-11 at 16 53 23" src="https://user-images.githubusercontent.com/2141415/52574970-b3fad400-2e1d-11e9-9a23-8ab3a644a496.png">

the file that reference the comment directly copied that snippet :-)

Thank you!

[2019-02-11 17:12] sbaltes commented on #15
You're welcome :-)

BTW: An empty block with `LocalId` 1 indicates that the first block is a text block (empty split before the first backtick), an empty last block indicates that the last block is a code block (empty split after the last backtick).

Similar to the post blocks, there may be other variants of inline code in the comments (in addition to the standard backtick approach), see [these](h

[2019-02-11 17:12] #15 closed, assigned to sbaltes

[2019-02-11 18:19] sbaltes commented on #15
If you are only interested in the code, you could also use this approach:

[code]

![2019-02-11 19_18_41-window](https://user-images.githubusercontent.com/10498957/52584261-e0205000-2e31-11e9-96fa-fc88cc0899c4.png)

[2019-02-12 09:11] Alfusainey commented on #15
thanks @sbaltes, thats really helpful! yes, i am mostly interested in the code blocks

BTW: other than the official bigquery docs, do you have good pointers for learning BQ?

[2019-02-12 10:20] sbaltes commented on #15
Except for the official documentation, I'm aware of the following resources:

* https://github.com/fhoffa/bigquery_patterns
* https://github.com/fhoffa/analyzing_github
* https://www.reddit.com/r/bigquery/
* https://www.reddit.com/r/bigquery/wiki/datasets

[2019-02-12 11:07] Alfusainey commented on #15
thanks! one last question (next time I will open a new issue): what does the column `Copies` in the `PostReferenceGH` table means?

[2019-03-28 16:01] sbaltes commented on #12
I'm currently uploading the new release 2019-03-17 to Zenodo. I created and tested this release on Windows 10 and Ubuntu 18.04 running MySQL Server 8.0. The import takes less than 24 hours on the above-mentioned hardware. I added some tips to the [README](https://github.com/sotorrent/db-scripts/blob/master/sotorrent/README.md) file.

[2019-03-29 05:21] CosmosAtlas commented on #2
I just ran the same query on the newest dataset (Mar. 2019), the problem still exists.

![temp](https://user-images.githubusercontent.com/5738747/55211104-feaf9000-51c0-11e9-9094-738c0b904241.png)

[2019-03-29 05:25] CosmosAtlas opened #16 "Inconsistent identification of PostTypeId in PostReferenceGH"
![temp](https://user-images.githubusercontent.com/5738747/55211166-4504ef00-51c1-11e9-83c1-026f145201e4.png)

In the table `PostReferenceGH.csv`, some entries are self conflicting by `PostId` and `PostTypeId`. Example given above, the last row with same `PostId` identified with different `PostTypeId`. This issue exists in more than 1 row.

[2019-03-29 05:30] CosmosAtlas commented on #16
Just for better reviewability, attached the problematic GHUrl to the misclassified row.

https://raw.githubusercontent.com/Demonware/cog/trunk/cog/util.py

[2019-03-29 09:57] sbaltes commented on #16
Thanks for reporting!
I'm currently investigating the issue and will get back to you soon.

[2019-03-29 12:11] sbaltes commented on #16
The `PostTypeId` in table `PostReferenceGH` is based on the link found in the corresponding file. In the file you linked, the user simply posted the wrong link (using `a` instead of `q`). However, Stack Overflow directs such requests to the correct thread.

I thought about using data from table `Posts` to set the `PostTypeId` correctly, but than that column would be inconsistent with the matched c

[2019-03-29 15:06] CosmosAtlas commented on #16
My take on this is that `PostTypeId` and `PostId` have a one to one relation. If remaining the current way, there contain errors in the table.

Since the `SOUrl` is often not the actual matched Url anyway (actual matched is in `GHMatches.csv`, why not have the correct `SOUrl` and `PostTypeId` in `PostReferenceGH.csv`?

[2019-03-29 15:34] sbaltes commented on #16
Yes, but those inconsistencies are caused by GitHub users posting wrong Stack Overflow links. The question is whether those issues should be fixed by the SOTorrent extraction scripts. For example, I also don't check whether the `PostId`s are valid.

The `SOUrl`s are normalized to sharing links.
There is no one-to-one connection between the individual extracted URLs in `PostReferenceGH` and the mat

[2019-03-29 16:06] sbaltes commented on #16
Also, we use `PostTypeId` 99 to mark links to comments, which does not exist in the official data dump.
To avoid confusion, it may be better to drop column `PostTypeId` for table `PostReferenceGH`. Comments can also identified by column `CommentId` not being `NULL` and for posts, the `PostTypeId` can be retrieved from table `Posts`.

[2019-03-29 16:25] CosmosAtlas commented on #16
I can confirm that it's true, there are `PostId` from `PostReferenceGH.csv` that have no entry in `Post.XML`

I guess it's a really hard problem to format the data then. Maybe better documentation on the subject could help people have a more thourough understanding of the dataset.

Thanks for the fast update on the problem!

[2019-03-29 16:48] sbaltes commented on #16
No worries and thanks for reporting this!
I'll try to figure out how many `PostId`s and `CommentId`s are invalid, maybe I can filter them out even in the current release. The upload to Zenodo is not finished yet and I can always modify the BigQuery version. And you are right: I should update the documentation afterwards.

[2019-03-30 14:19] sbaltes commented on #16
About 0.36% of the links in table `PostReferenceGH` have either an invalid `PostId` or an invalid `CommentId`. I used the distinct `Id`s in table `Comment` and the distinct `PostId`s in table `PostHistory` to check this. The latter implies that there could still be some `PostId`s that are not in table `Posts` (e.g., deleted posts with history in `PostHistory`).

I decided to remove column `PostTyp

[2019-03-30 14:24] #16 closed, assigned to sbaltes

[2019-04-05 14:42] sbaltes opened #17 "Add table VoteType"
See this [post](https://meta.stackexchange.com/questions/2677/database-schema-documentation-for-the-public-data-dump-and-sede/2678#2678) and this [query](https://data.stackexchange.com/stackoverflow/query/36599/show-all-types). Could be useful to identify events such as answers being accepted.

[2019-06-18 12:27] #17 closed, assigned to sbaltes

[2020-02-13 12:27] Alfusainey opened #18 "SOTorrent latest release on Zenodo"
is the date in the version name of the latest release of the SOTorrent dataset on Zenodo  a typo? it  was uploaded on Zenodo on Jan 25, 2020 but  the name  is `Version 2019-01-24`. On Google Bigquery it is `2020-01-24`

[2020-02-14 04:22] sbaltes commented on #18
Thanks, this was indeed a typo.
Should be fixed now.

[2020-02-14 04:22] #18 closed, assigned to nobody

[2020-05-02 22:02] sbaltes commented on #4
Table available starting with version 2020-03-15.

[2020-05-02 22:02] #4 closed, assigned to sbaltes

[2020-06-11 10:54] sbaltes opened #19 "Improve escaping/unescaping newline characters"
We currently use the [following](https://github.com/sotorrent/posthistory-extractor/blob/a3dcd1e89d8d27008b8132f81ef5ab09cf0f669d/src/org/sotorrent/posthistoryextractor/history/PostHistory.java#L90) regular expression to replace the escaped newline characters present in file `PostHistory.xml`, which is part of the official Stack Overflow [data dump](https://archive.org/details/stackexchange):

`((

[2020-06-13 17:42] laitingsheng commented on #19
Actually, I am wondering if you can replace all `&` in the raw text by `&amp;`, which is something like an escape character in HTML but only for `&`. You can guarantee that `&#xD;` or `&#xA;` will only exist if you append them to the output. All original `&#xD;` and `&#xA;` in raw text will be escaped to `&amp;#xD;` and `&amp;#xA;`, respectively.

[2020-06-25 11:20] Alfusainey opened #20 "upcoming release date + classic BigQuery UI"
@sbaltes  i have two questions:

1. do you know when the new upcoming release of the sotorrent (based on the June 2020 dump) will be available?
2. If i click on the [online access (BigQuery)](https://bigquery.cloud.google.com/dataset/sotorrent-org:2020_03_15) link, it redirects me to the `classic` bigquery UI, which according to Google, will remain available through June 2020. can we access the da

[2020-06-26 17:13] sbaltes commented on #20
Hi!

Hopefully in the first or second week of July. Unfortunately, it's currently exam time and I don't have much time to work on this...

My assumption was that Google will redirect the link once the new UI is available.
This should be the link to the new UI: https://console.cloud.google.com/bigquery?project=sotorrent-org&page=dataset&d=2020_03_15&p=sotorrent-org

[2020-07-08 07:59] Alfusainey commented on #20
i tested the new link and yes it redirects to the new UI now 👍

[2020-11-04 10:54] gianlucascoccia commented on #20
The above link works but many links on the project page ([https://empirical-software.engineering/sotorrent/](https://empirical-software.engineering/sotorrent/)) do not follow the redirect for me

[2020-11-22 19:28] sbaltes commented on #20
Thanks for letting me know!
I'm in the process of releasing the missing SOTorrent versions for the Stack Overflow data dumps published in June and September and will updated the dataset again in December when the new dump is available.
I will also fix the links on the project page.
Sorry for the delay!

[2020-11-25 17:41] sbaltes commented on #19
Should be fixed in the most recent database versions (2020-08-31 and 2020-11-16).
I'm now keeping the newlines, hence I had to switch to SQL dumps instead of CSV files.
MySQL's CSV export is broken, see:
* https://issuetracker.google.com/issues/35906027
* https://stackoverflow.com/questions/12418381/data-between-quotes-and-field-separator
* https://stackoverflow.com/questions/24610691/valid-csv-fi

[2020-11-25 17:41] #19 closed, assigned to sbaltes

[2020-11-25 18:56] sbaltes commented on #20
The missing datasets are now available and I hopefully managed to update all links on the project page. Please re-open this issue in case you notice any problems.

[2020-11-25 18:56] #20 closed, assigned to sbaltes

[2021-02-09 11:25] Alfusainey opened #21 "sotorrent20_03: Incomplete PostVersion records"
If I import the `sotorrent20_03.PostVersion` table into my local DB, i get a total of  `67,470,976` records while the total number of records of the same table on BigQuery is `75,887,884`. So about `8,416,908` are missing in the data dump file on Zenodo.

Can you please confirm? I noticed this when trying to get the creationdates of post block versions  inside the `PostBlockVersion` table using th

[2021-02-09 12:28] sbaltes commented on #21
Thanks for reporting this!
Strange, because I'm using the same file for Zenodo and the BigQuery import. Maybe something went wrong when updating the Zenodo dataset. I'll look into this and get back to you.

[2021-02-09 18:39] sbaltes commented on #21
Update: I'm not sure what exactly is wrong with the Zenodo file, but I can confirm that the number in BigQuery is correct, because it matches the value in the corresponding test case (just search for 75887884):
https://github.com/sotorrent/posthistory-extractor/commit/a3dcd1e89d8d27008b8132f81ef5ab09cf0f669d#diff-057ce430ca61073db25474a2578a40f07750f230c1fd8497aaeef684b6dfb3c0R200
I'll post anothe

[2021-02-09 19:09] sbaltes commented on #21
I'm currently importing version 2020-03-15 locally, which might take a day or two.

[2021-02-09 22:48] Alfusainey commented on #21
thanks for taking the time to investigate this

[2021-02-13 19:13] sbaltes commented on #21
I've now managed to import table `PostVersion` with the correct row count:

![2021-02-13 20_09_20-Window](https://user-images.githubusercontent.com/10498957/107859085-8cd5a380-6e37-11eb-939d-970b7b0719c7.png)

The problem was a bug in the import scripts (missing column that was added to the dataset):

https://github.com/sotorrent/db-scripts/commit/96c00e3138cce190285d95554c83d95799860d88#diff-ee88

[2021-02-13 19:13] #21 closed, assigned to sbaltes

[2021-02-23 14:51] Alfusainey commented on #21
thanks @sbaltes it worked after adding the `Comment` column. Thank you

[2021-02-23 20:14] sbaltes commented on #21
Great, happy to hear that!

[2021-03-10 09:49] monjurmorshed793 opened #22 "Script to import data from .sql files"
I have downloaded data from the Zenodo site. All the files are of .sql type. A script may be added to import those sql files.

[2021-03-10 10:05] sbaltes commented on #22
You can use this script: https://github.com/sotorrent/db-scripts/blob/master/sotorrent/load_sotorrent.sh (you also need the SQL scripts used in that Bash script).
It will be part of the next release of the dataset, the script in the current release contains a bug, but Zenodo doesn't like when you update files in existing datasets.
Please re-open this issue if you have trouble importing the dataset

[2021-03-10 10:05] #22 closed, assigned to sbaltes

[2021-05-06 00:41] Alfusainey opened #23 "sotorrent20_03.GHCommits missing"
The  `sotorrent20_03` version on Zenodo does not include the `GHCommits` table. Was this intentional?

[2021-05-06 08:01] sbaltes commented on #23
Interesting. Maybe the upload to Zenodo failed. I'll host the file temporarily on Google Drive and post a link here, while I'll contact Zenodo to add the missing file.

[2021-05-06 14:41] sbaltes commented on #23
Here's the link: https://drive.google.com/file/d/1DqaAx0JMdFvBIzk-figoX0lpnnf6M2Wv/view?usp=sharing

[2021-05-07 12:03] Alfusainey commented on #23
thanks @sbaltes. I loaded the file and got 3,608 records. does that sound right?

[2021-05-09 15:20] sbaltes commented on #23
That's strange. When I execute

`wc -l GHCommits.csv`

I get the following:

`195210 GHCommits.csv`

Thus 195,209 entries (header row excluded), which is the same count as on BigQuery.
Maybe there's an issue with the line endings on your end?

[2021-05-11 12:31] Alfusainey commented on #23
Thanks, it works now. The problem was that i included the `Id` field name in the field list:

[code]

And removing the `Id` field solved it

[2021-05-12 13:04] sbaltes commented on #23
I see. Thanks for letting me know!
The Zenodo dataset is now updated as well.

[2021-05-12 13:04] #23 closed, assigned to sbaltes

[2021-05-16 13:05] Alfusainey opened #24 "Discussion Forum for sotorrent"
@sbaltes I have two questions:

(1) How about having a dedicated discussion forum (Gitter, GitHub discussion, etc) for sotorrent? The idea is to bring the sotorrent user community under one forum to ask rapid/quick questions regarding the dataset without the need for creating GH issues.  Do you think this kind of make sense?

(2) If I select the latest version of a code snippet (i.e MostRecentVers

[2022-01-08 12:33] sbaltes commented on #24
Sorry for the late reply.

(1) This is a great idea, but I don't even have time to publish new versions of the dataset, so I won't have time to quickly respond in such a forum.

(2) `PredCount` is the number of potential predecessors (with same similarity), of which one is selected according to the matching strategy (see MSR 2018 paper for details). Here's the property in the code: https://github.

[2022-01-08 12:33] #24 closed, assigned to nobody

[2022-01-09 11:22] Alfusainey commented on #24
Thanks @sbaltes. I think the sotorrent community should help out in publishing new versions of the dataset. This is something I am willing to do. Is there a documentation available for how this can be done? I think once the dataset is prepared, you can then do the publishing to Bigquery and zenodo

[2022-01-09 12:49] sbaltes commented on #24
Yes, that's exactly what I'm working on :-)
Since creating the dataset from an SO dump and the BigQuery GitHub dataset requires a quite powerful local setup (e.g., 64 GB RAM) besides the parts that already run in the cloud, I want to completely move the pipeline to the cloud so that everyone can run it, also without powerful local hardware.
I'd be happy to do a handover with you once documentation

[2022-01-09 22:39] Alfusainey commented on #24
awesome! sure, i will do that

[2022-05-29 00:29] zl1n commented on #24
Hi @sbaltes, I am also interested in becoming a member of the SOTorrent community. Any updates on the documentation and infrastructure you mentioned in this thread ;) ?

[2022-05-30 20:05] sbaltes commented on #24
Hi @zl1n and @Alfusainey,
I currently unfortunately don't have much capacity to dedicate to working on SOTorrent.
One challenge is integrating [this code](https://github.com/sotorrent/posthistory-extractor) into [this pipeline](https://github.com/sotorrent/pipeline).
I thought it's a good exercise to re-implement the logic in Python, but in hindsight it might have been better to stick to Java...
A